h1{color: blue; background-color: rgb(129, 106, 106);}

li{background-color: rgb(96, 88, 214); color:red;}
p{color:rgb(197, 58, 81); background-color: rgb(218, 155, 218);}
body{background-color: rgb(81, 187, 129);}